*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/* body{
    height: 4900px;
} */
.card-img-top{
    width: 100%;
    height: 250px;
}
.card{
    z-index: 1;
    overflow: hidden;
    transition:0.7s;
}
.theme-text{
    color: #8B9174;
}
.card:hover{
    color: white;
}
.card::after{
   content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    background: #464b52;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}
.card:hover::after{

    left: 0%;

}
/* begin portfolio */
.space{

    height: 30px;
}
#portfolio{
    margin-top: 10%;
    /*  */
    background-color: #ccd2da;
}


hr{
    height: 10px;
}
/* end portfolio */


/* begin About-us */
#About-us{

   margin-top: 15%; 

}
/* end About-us */


/* begin meet the team */

#meet{

    margin-top: 15%; 
 
 }
 #meet img{
    border-radius: 50%;
 }
 #meet .row{
    margin-top:12%;
 }
/* end meet the team */

/* contact us  begin*/
#contact{
    margin-top: 10%;
     background-color: #ccd2da;
    height: 600px;
}
#contact h1{ 

    padding-top: 38px;
}
#contact i{
    font-size: 22px;
    color: #8B9174;
}

#contact p{
    margin-top: 5px;
}
#contact textarea{
    margin-top: 4px;
    resize: none;
}
#contact input{
    margin-bottom: 12px;
}

 button{
    font-size: 20px;
    margin-top: 20px;
}
/* contact us  End*/


/* Footer begin */
footer{

  background-color: #5c5d5f;  
  padding: 30px;
  margin-top: 59px;
}
footer i{

    color: #afe262;
    font-size: 30px;
    padding: 10px;
}
/* Footer end */

.space-x{
    background-color: rgb(51, 50, 50);
    height: 150px;
}






@media (max-width:576) {
    #slider{
        display: none;
    }
    
}
